@import url("photographer.css");
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 70px auto;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.photographer_section article a h2 {
  color: var(--primary-1);
  font-size: 36px;
}
.photographer_section article a img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.photographer_section article a h6 {
  font-size: 13px;
  color: #901C1C;
}
.photographer_section article a p {
  font-size: 10px;
}
.photographer_section article a span {
  font-size: 9px;
  color: #757575;
}

@media screen and (max-width: 1045px) {
  .photographer_section {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
}
@media screen and (max-width: 768px) {
  .photographer_section {
    grid-template-columns: 1fr;
    margin: 35px auto;
  }
}
#main {
  position: relative;
  height: auto;
}

.photographer-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  order: 1;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 0;
}
.photographer-header .photographer-infos h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 83px;
}
.photographer-header .photographer-infos h6 {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  color: var(--primary-2);
}
.photographer-header .photographer-infos p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--grey-1);
  padding: 1rem 0;
}

.contact_button {
  order: 2;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.photographer-header img {
  order: 3;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .photographer-header .photographer-infos h1 {
    font-size: 2.5rem;
  }
  .photographer-header .photographer-infos h6 {
    font-size: 18px;
  }
  .photographer-header .photographer-infos p {
    font-size: 14px;
  }
  .contact_button {
    font-size: 18px;
    padding: 10px;
    width: 150px;
    height: 60px;
  }
  .photographer-header img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 900px) {
  .photographer-header {
    margin: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .photographer-header {
    height: auto;
    margin: 0;
    padding: 1.5rem;
    flex-direction: column;
    text-align: center;
  }
  .photographer-header .photographer-infos {
    margin-bottom: 1rem;
  }
  .photographer-header .photographer-infos h1 {
    font-size: 2em;
    font-weight: 400;
    line-height: 50px;
  }
  .photographer-header .photographer-infos p {
    font-weight: 400;
    line-height: 23px;
    color: var(--grey-1);
    padding: 0;
  }
  .contact_button {
    order: 3;
    font-size: 14px;
    padding: 8px;
    width: 140px;
    height: 50px;
  }
  .photographer-header img {
    order: 2;
    width: 125px;
    height: 125px;
    margin-bottom: 1rem;
  }
}
.medias {
  width: 90%;
  margin: 100px auto 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.medias .media-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
}
.medias .media-card img {
  width: 100%;
  min-height: 90%;
  object-fit: cover;
  cursor: pointer;
}
.medias .media-card video {
  width: 100%;
  min-height: 90%;
  object-fit: cover;
  cursor: pointer;
}
.medias .media-card .media-infos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-2);
  padding: 5px 0;
}
.medias .media-card .media-infos h3 {
  font-weight: 400;
  font-size: 20px;
}
.medias .media-card .media-infos .card-likes {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.medias .media-card .media-infos .card-likes p {
  margin-right: 5px;
  font-weight: bold;
}
.medias .media-card .media-infos .card-likes i {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .medias {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .medias {
    grid-template-columns: 1fr;
  }
}
.likes-and-price {
  background-color: #DB8876;
  color: black;
  border-radius: 5px 5px 0 0;
  width: 370px;
  height: 70px;
  position: fixed;
  bottom: 0;
  right: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .likes-and-price {
    right: 50%;
    transform: translateX(50%);
    height: 50px;
    width: 300px;
    font-size: 20px;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

h1 {
  color: var(--primary-1);
  margin-right: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-1: #D3573C;
  --primary-2: #901C1C;
  --grey-1: #525252;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header .logo {
  height: 50px;
  margin-left: 100px;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .logo {
    margin-left: 0;
  }
  header h1 {
    display: none;
  }
}
#contact_modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1.5rem auto 1rem;
}

.modal header img {
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  align-self: flex-start;
}

.modal .header-content {
  display: flex;
  flex-direction: column;
}

.modal header h2, .modal header h3 {
  font-size: 3rem;
  font-weight: 400;
}

form {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 1.5rem;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 10px;
}

form textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  padding: 10px;
}

form button {
  background-color: var(--primary-2);
  color: white;
  width: 160px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.container-lightbox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.container-lightbox .lightbox-content {
  margin: 0;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 98%;
  background-color: white;
  border-radius: 5px;
}
.container-lightbox .lightbox-content .chevron-left, .container-lightbox .lightbox-content .chevron-right {
  font-size: 3.5rem;
  color: var(--primary-2);
  margin: 0 auto;
  cursor: pointer;
}
.container-lightbox .lightbox-content .lightbox-img, .container-lightbox .lightbox-content .lightbox-video {
  width: 88%;
  height: 100%;
}
.container-lightbox .lightbox-content .lightbox-close {
  position: absolute;
  top: 1.5%;
  right: 2%;
  color: var(--primary-2);
  font-size: 2.5rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
