.lightbox  {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #E5E5E5;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &.active {
        display: flex;
    }

    .lightbox-content {
        margin: 0;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 90%;
        border-radius: 5px;

        .chevron-left, .chevron-right {
            font-size: 3.5rem;
            color: var(--primary-2);
            margin: 0 auto;
            cursor: pointer;
        }

        .lightbox-img, .lightbox-video {
            width:88%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .lightbox-close {
            position: absolute;
            top: 0;
            right: 1%;
            color: var(--primary-2);
            font-size: 3rem;
            cursor: pointer;
        }
    }
    h3 {
        color: var(--primary-2);
        font-size: 28px;
        width: 70%;
        margin: 10px 0 0 8% 
    }

}