.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 70px auto;
    article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
            color: var(--primary-1);
            font-size: 36px;
        }
        img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }
        h6 {
            font-size: 13px;
            color: #901C1C;
        }
        p {
            font-size: 10px;
        }
        span {
            font-size: 9px;
            color: #757575;
        }
    }
}

@media screen and (max-width: 1045px) {
    .photographer_section {
        grid-template-columns: 1fr 1fr;
        gap: 35px;
    }

}


@media screen and (max-width: 768px) {
    .photographer_section {
        grid-template-columns: 1fr;
        margin: 35px auto;
    }
}


