// PHOTOGRAPHER CARD HEADER
#main {
    position: relative;
    height: auto;
}

.photographer-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    order: 1;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 0;
    .photographer-infos {
        h1 {
            margin: 0;
           font-size: 4rem;
           font-weight: 400;
           line-height: 83px;
       }
       
       h6 {
           font-size: 24px;
           font-weight: 400;
           line-height: 31px;
           color: var(--primary-2);
       }
       
       p {
           font-size: 18px;
           font-weight: 400;
           line-height: 23px;
           color: var(--grey-1);
           padding: 1rem 0;
       }
    }  
}

.contact_button {
    order: 2;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-header img {
    order: 3;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

// MEDIAS

.medias {
    width: 90%;
    margin: 100px auto 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    .media-card {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 300px;
        img {
            width: 100%;
            min-height: 90%;
            object-fit: cover;
        }
        video {
            width: 100%;
            min-height: 90%;
            object-fit: cover;
        }
        .media-infos {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--primary-2);
            padding: 5px 0;
            h3 {
                font-weight: 400;
                font-size: 24px;
            }
            span {
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                i {
                    font-size: 1.25rem;
                    cursor: pointer;
                }
            }
        }
    }
}

// ENCART
.likes-and-price {
    background-color: #DB8876;
    color: black;
    border-radius: 5px 5px 0 0;
    width: 370px;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}