// PHOTOGRAPHER CARD HEADER
#main {
    position: relative;
    height: auto;
}

.photographer-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    order: 1;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 0;
    .photographer-infos {
        h1 {
            margin: 0;
           font-size: 4rem;
           font-weight: 400;
           line-height: 83px;
       }
       
       h6 {
           font-size: 24px;
           font-weight: 400;
           line-height: 31px;
           color: var(--primary-2);
       }
       
       p {
           font-size: 18px;
           font-weight: 400;
           line-height: 23px;
           color: var(--grey-1);
           padding: 1rem 0;
       }
    }  
}

.contact_button {
    order: 2;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-2);
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: var(--primary-3);
        color: black; 
    }
}

.photographer-header img {
    order: 3;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
@media screen and (max-width: 1200px) {
    .photographer-header {
        .photographer-infos {
            h1 {
                font-size: 2.5rem;
            }
            h6 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .contact_button {
        font-size: 18px;
        padding: 10px;
        width: 150px;
        height: 60px;
    }
    .photographer-header img {
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width: 900px) {
    .photographer-header {
        margin: 0 20px;
    }
}

@media screen and (max-width: 767px) {
    .photographer-header {
        height: auto;
        margin: 0;
        padding: 1.5rem;
        flex-direction: column;
        text-align: center;
        .photographer-infos {
            margin-bottom: 1rem;
            h1 {
               font-size: 2em;
               font-weight: 400;
               line-height: 50px;
           }
           p {
               font-weight: 400;
               line-height: 23px;
               color: var(--grey-1);
               padding: 0;
           }
        }  
    }
    .contact_button {
        order: 3;
        font-size: 14px;
        padding: 8px;
        width: 140px;
        height: 50px;
    }   
    .photographer-header img {
        order: 2;
        width: 125px;
        height: 125px;
        margin-bottom: 1rem;
    }
}

// MEDIAS

.medias {
    width: 90%;
    margin: 80px auto 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    .media-card {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 300px;
        img {
            width: 100%;
            min-height: 88%;
            object-fit: cover;
            cursor: pointer;
        }
        video {
            width: 100%;
            min-height: 88%;
            object-fit: cover;
            cursor: pointer;
        }
        .media-infos {
            width: 100%;
            height: 12%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--primary-2);
            padding: 5px 0;
            h3 {
                font-weight: 400;
                font-size: 20px;
            }
            .card-likes {
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                .likes-number {
                    margin-right: 5px;
                    font-weight: bold;
                }
                i {
                    cursor: pointer;
                    &.active {
                        font-size: 25px;
                        opacity: 1;
                    }
                    &.unactive {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .medias {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 767px) {
    .medias {
        grid-template-columns: 1fr;
    }
}

// ENCART
.encart {
    background-color: #DB8876;
    color: black;
    border-radius: 5px 5px 0 0;
    width: 370px;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    .total-likes {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            margin-right: 5px;
        }
    }
}

@media screen and (max-width: 767px) {
    .encart {
        right: 50%;
        transform: translateX(50%);
        height: 50px;
        width: 300px;
        font-size: 20px;
    }
}